.header {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  margin-bottom: 2rem;
}

.wrong {
  position: relative;
  border-color: red;
  animation-name: wrong;
  animation-timing-function: ease;
  animation-duration: var(--dur);
}

.back {
  font-size: 3rem;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  display: block;
  text-align: center;
  border: 2px solid #eee;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  background-color: unset;
  appearance: unset;
  cursor: pointer;
  align-self: flex-start;
}

.win {
  font-size: 5rem;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 22.5rem;
}

@keyframes wrong {
  0% {
    left: 0;
  }
  25% {
    left: 1rem;
  }
  50% {
    left: -1rem;
  }
  75% {
    left: 1rem;
  }
  100% {
    left: 0;
  }
}
