.header {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
  --fh: calc(var(--gap) + 0.25 * (96rem - 3 * var(--gap)));
}

.nav {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  background-color: var(--bg);
  position: relative;
  --fh: calc(var(--gap) + 0.25 * (96rem - 3 * var(--gap)));
}

.row {
  margin-bottom: 2rem;
}

.wrong {
  border-color: #b50000;
  animation-name: wrong;
  animation-timing-function: ease;
  animation-duration: var(--dur);
  &::before {
    display: none;
  }
}

.right {
  border-color: #20f86c;
  animation-name: right;
  animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-duration: var(--dur);
  z-index: 999;
  overflow: hidden;
  &::before {
    display: none;
  }
}

.animatehidden {
  overflow: hidden;
}

.win {
  font-size: 5rem;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 22.5rem;
}

@keyframes wrong {
  0% {
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(1rem, 0rem);
  }
  50% {
    transform: translate(-1rem, 0rem);
  }
  75% {
    transform: translate(1rem, 0rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}

@keyframes right {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.header .slidetop,
.body .slidetop {
  transform: translateY(calc(-1 * var(--fh)));
  animation-name: slidetop;
  animation-fill-mode: forwards;
  animation-duration: var(--dur);
  animation-delay: var(--del);
  animation-timing-function: ease-out;
}

@keyframes slidetop {
  0% {
    transform: translateY(calc(-1 * var(--fh)));
  }
  100% {
    transform: translateY(0);
  }
}

.header .slidebottom,
.body .slidebottom {
  animation-name: slidebottom;
  animation-fill-mode: forwards;
  animation-duration: var(--dur);
  animation-delay: var(--del);
  animation-timing-function: ease-out;
}

@keyframes slidebottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--fh));
  }
}

.body .slidebg {
  animation-name: slidebg;
  animation-duration: var(--dur);
  animation-timing-function: ease-out;
}

@keyframes slidebg {
  0% {
    clip-path: inset(0 0 calc(var(--gap) + var(--fh)));
  }
  100% {
    clip-path: inset(0 0 var(--gap));
  }
}
