.svg {
  display: block;
  margin: 2px;
}

.svgnext {
  position: absolute;
  top: 0;
}

.path {
  stroke: #eee;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
