.figure {
  aspect-ratio: 1;
  background-color: var(--bg);
}

.div {
  border: 2px solid transparent;

  box-shadow: inset 0 0 0 1px #b50000;
  &.pass {
    box-shadow: inset 0 0 0 1px #20f86c;
  }
}

.button.button {
  padding: 0;

  &.pass {
    border-color: #20f86c;
  }
}
