.figure {
  height: 22.5rem;
  width: 22.5rem;
  border: 2px solid #eee;
  box-sizing: border-box;
  background-color: unset;
  appearance: unset;
  align-items: unset;
  cursor: pointer;
}

.figure:disabled {
  cursor: default;
  border: 2px solid #444;
}
