.button {
  font-size: 4rem;
  line-height: 6rem;
  color: white;
  font-family: monospace;
  text-transform: uppercase;
  padding: 0 4rem;
  text-align: center;
  border: 2px solid #eee;
  box-sizing: border-box;
  background-color: var(--bg);
  appearance: unset;
  align-items: unset;
  cursor: pointer;
  box-shadow: -3px -3px 0 0 #eee;

  &:disabled {
    cursor: default;
    border-color: #444;
    box-shadow: none;
  }
}
